/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
  
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    text-align: center;

}

/*
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/
#torshov{    
    font-weight: bold;
    background-color: #457B9D;
    width: 110px auto;
    height: 50px auto;
    font-size: 20px;
    color: white;
    border-radius: 5px;
    border: none;
}

#culture{
    margin-top: 15px;
    padding: 0 3px 0 3px;
    text-align: center;
    background-color: #1D3557;
    width: 140pxauto ;
    height: 30px auto;
    font-size: 12px;
    color: white;
    border-radius: 5px;
    border: none;
}

.wrapper1{
    width: 100vw auto;
    height: 100vh ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     padding: 10px 50px;
    color: white;
  background-image: url(./images/victoriaorange.jpg);  
  background-size: cover;
  background-position: center;

}

.section {
    height: 343px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #F1FAEE;
}

.section-item {
    margin: 00px 54px;
}

.section-item img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.section-item h5 {
    font-size: 14px;
    padding: 0px 10px 0px 10px;
}

.section-item p {
    margin: 0px;
    font-size: 12px;
    padding: 0px 10px 0px 10px;
}

.guide {
    width: 100%;
    height: 394px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.guide-item {
    box-shadow: 0px 6px 0px #1D3557;
    width: 600px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5%;
    background: #A8DADC;
}

.guide-item img {
    width: 250px;
    height: 280px;
   
    margin: 23px 7px 22px 13px;
}

.guide-content {
    text-align: center;
    margin: 0px 11px;
}

.guide-content h3 {
    font-size: 24px;
}

.guide-content p {
    font-size: 12px;
}

.guide-content h4 {
    font-size: 14px;
}
